@keyframes fade-in{
  from {
    opacity : 0%;
  }

  to{
    opacity: 100%;
  }
}

@keyframes slide-in{
  from {
    transform: translateY(-1rem);
    opacity : 0%;
  }

  to{
    transform: translateY(0rem);
    opacity: 100%;
  }
}


@keyframes animloader {
  0% {
    border-color: rgba(0, 0, 75, 0.15) rgba(0, 0, 75, 0.25) rgba(0, 0, 75, 0.35) rgba(0, 0, 75, 0.75);
  }
  33% {
    border-color: rgba(0, 0, 75, 0.75) rgba(0, 0, 75, 0.15) rgba(0, 0, 75, 0.25) rgba(0, 0, 75, 0.35);
  }
  66% {
    border-color: rgba(0, 0, 75, 0.35) rgba(0, 0, 75, 0.75) rgba(0, 0, 75, 0.15) rgba(0, 0, 75, 0.25);
  }
  100% {
    border-color: rgba(0, 0, 75, 0.25) rgba(0, 0, 75, 0.35) rgba(0, 0, 75, 0.75) rgba(0, 0, 75, 0.15);
  }
}
