{% extends 'base.html.twig' %}

{% block title %}Paramètres de l'utilisateur{% endblock %}

{% block body %}
<div id="content">
    <div class="container">

        <div class="classic_form">
            <h2>Paramètres de l'utilisateur</h2>
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <div class="bottom_content">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="main_btn small" href="{{ path('app_user_index') }}">Retour liste</a>
            {% endif %}
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div> 
</div>
{% endblock %}
