{% extends 'base.html.twig' %}

{% block title %}Recherche Yourtrace{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}

<section class="page">
  <div class="container">
    <h1>A propos</h1>
    <h2>En cours de rédaction</h2>
  </div>
</section>

{% endblock %}

