{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}

<section class="page">
  <div class="container">

    <h1>Mentions légales</h1>
    <h2>En construction</h2>
    Politique de confidentialité 

<h2>Objet</h2>

<p>Le but de cette politique de confidentialité est d’informer les utilisateurs de notre plateforme des modalités de collectes, de traitement et d’utilisations des données personnelles ainsi que leurs droits en matière de protection de ces données au regard du RGPD et de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.<br>
Cette politique de confidentialité fonctionne parallèlement aux conditions générales d’utilisation de notre site. 

<h3>Responsables de traitement </h3><br>
L’association YourTrace réalise un traitement de données à caractères personnel, en tant que responsable de traitement :<br> 
<strong>Adresse : </strong>Siege social inexistant <br>
<strong>Courriel : </strong>yourtracecontact@proton-mail.com <br>

<h3>Lois applicables</h3> 
Conformément au Règlement général sur la protection des données (RGPD), cette politique de confidentialité est conforme aux règlements suivants.<br> 
Les données à caractères personnels doivent être : 
    a. Traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence)
    b. Collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traités ultérieurement d’une manière incompatible avec ces finalités. Le traitement ultérieur à des fins archivistiques dans l’intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n’est pas considéré, conformément à l’article 89, paragraphe 1, comme incompatible avec des finalités initiales (limitation des finalités)
    c. Adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données)
    d. Traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite

Consentement
Les utilisateurs conviennent qu’en utilisant notre site, ils consentent : 
    a. Aux conditions énoncées dans la présente politique de confidentialité et aux conditions d’utilisation. 
    b. A la collecte, l’utilisation et la conservation des données énumérées dans la présente politique. 

Données personnelles que nous collectons 
 Lors de la création de votre compte, nous collecterons les renseignements suivants : 
    • Adresse(s) mail 
    • Nom
    • Prénom(s)
    • Pseudo(s)
    • Adresse(s) IP

Les données personnelles recueillis à l’issue de la recherche son mise à la disposition de l’utilisateur uniquement durant la session avec le terminal. Elles sont alors immédiatement supprimées à l’issue de cette session.

Comment nous utilisons les données personnelles
Les données que nous recueillons sont exclusivement utilisées à des fins d’identifications et de recherches : 
    • Par la nature individuelle de la solution, ces données permettre de prouver l’identité d’un utilisateur et permet de se prémunir des usurpations d’identités.  
    • Par la nature de la solution d’offrir à ses utilisateurs un gain de contrôle sur son empreinte numérique, ces données seront également nécessaire afin de réaliser les recherches de données personnelles accessibles librement sur internet que propose la solution.
Avec qui nous partageons les données personnelles 
Les données personnelles ne sont partagées avec aucuns tiers. Elles sont uniquement accessible par l’utilisateur et par les administrateurs de la plateforme YourTrace par le biais de leurs outils d’administrations, nécessitant habilitations et privilèges élevés. 
Combien de temps nous conservons les données personnelles
Les données personnelles sont conservées dans le cadre de l’utilisation du site https://www.YourTrace.fr  pour une durée proportionnelle à la finalité pour laquelle elles sont collectées. A ce titre, les données des cookies sont conservées X mois et celles du compte pour toute la durée de votre inscription sur la plate-forme.
Comment nous les protégeons ? 
Les données sont stockées sur une base de données hébergées en local, avec des mots de passe forts gardés dans un coffre-fort numérique.
Les accès aux consoles Web d’administration seront également protégés par des mots de passes fort. 
Alors que nous prenons toutes les précautions raisonnables pour nous assurer que nos données d’utilisateur sont sécurisées et que les utilisateurs sont protégés, il reste toujours du risque de préjudice. L’Internet en sa totalité (utilisateur compris) peut être, parfois, peu sûr et donc nous sommes incapables de garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique. 

Vos droits en tant qu’utilisateur 
En vertu du RGPD, les utilisateurs ont les droits suivants : 
    a. Droits d’accès
    b. Droit de rectification
    c. Droit à l’effacement 
    d. Droit de restreindre le traitement 
    e. Droit à la portabilité des données
    f. Droit d’objection
Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD. 

Comment modifier, supprimer ou contester les données recueillies 
Si vous souhaitez que vos renseignements soient supprimés ou modifié d’une façon ou d’une autre, veuillez faire parvenir votre demande à yourtracecontact@proton-mail.com .

Modifications 
Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette politique.

Contact 
Si vous avez des questions, n’hésitez pas à les communiquer par mails à l’adresse yourtracecontact@proton-mail.com.

  </div>
</section>

{% endblock %}

